body {
    font-family: 'Poppins', sans-serif;
}

.misson,
.vision,
.innovation {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
}

h2 {
    color: #333; /* Adjust color as needed */
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #555; /* Adjust color as needed */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .misson,
    .vision,
    .innovation {
        padding: 15px;
    }
}

@media screen and (max-width: 600px) {
    .misson,
    .vision,
    .innovation {
        padding: 10px;
    }
}
