/* Container Styles */
.FormContainer {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}

/* Left Column Styles */
.FormLeftColumn {
  flex: 0 0 48%; /* 48% width with 2% space between columns */
}

.Forminput {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Right Column Styles */
.FormRightColumn {
  flex: 0 0 48%;
}

/* Button Styles */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 600px) {
  .FormContainer {
    flex-direction: column;
  }

  .FormLeftColumn,
  .FormRightColumn {
    flex: 100%;
  }
}
